@font-face {
    font-family: ACLineRegular; 
    src: url("http://localhost:8080\fonts\ACLineRegular\ACLineRegular.ttf"); 
   }
  @font: ACLineRegular;
body {
    padding-top: 80px;
}
.logo {
   max-width: 25px;
}
li {
    font-family: @font;
    font-size: 1.28em;
}
.form-control{
    max-width: 85%;
}
.navbar-text{
    padding-right: 2%;
}
.requisition {
    background-color: orange;
    font-family: @font;
}
.content2 {
    height: 900px;
    background-color: blue;
}