doctype html
html
	head
		meta(charset="utf-8")
		title="MuzWork"
		script(src="js/index.js")
		link(rel="stylesheet" href="css/styles.css")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			div.container-fluid
				a.navbar-brand(href='#')
					img.logo(src="img/logo.png" alt="Brand")
				button.navbar-toggle.logo-media-object(type="button" data-toggle="collapse" data-target="#navi")
					span.sr-only Toggle navigation
					- var i=0
					- for (;i<3;i++)
						span.icon-bar
				div.collapse.navbar-collapse#navi
					ul.nav.navbar-nav
						- var menuRef = ["Перечень услуг", "Наши музыканты", "Концерты", "О нас"]
						- each item in menuRef
							li
								a(href="#")= item
					p.navbar-text.navbar-right +7-(999)-440-85-65
		div.container-fluid.content
			div.requisition.col-md-2
				h4 Примем вашу заявку
				form(role="form")
					div.form-group
					label(for="email") Email
					input.form-control#email(type="text" placeholder="example@yandex.ru")
					div.form-group
					label(for="phone") Телефон
					input.form-control#phone(type="tel" placeholder="+7-(923)-123-12-23")
					div.form-group
					label(for="name") Имя
					input.form-control#name(type="text" placeholder="Имя")
			div.col-md-8.content2
			div.col-md-2.content3 Youtube, instagram, VK